name: Perform markdown linting
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone this repo
        uses: actions/checkout@v4
      
      - name: Markdown Linting Action
        id: lint
        uses: avto-dev/markdown-lint@v1.5.0
        with:
          config: "./.markdownlint.yml"
          args: "./content/**/*.md"